.nav{
    background-color: var(--mini-color);
    position: fixed;
    width: 70px;
    height: 96%;
    top: 2%;
    left: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.nav .links h1{
    text-decoration: none;
    font-size:2.5rem;
    font-weight: 600;
    color: #FFFFFF;
    transform: rotate(-90deg);
}

@media (max-width:1250px) {
    .nav{
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
        border-radius: 0;
    }
    .nav .links h1{
        transform: rotate(0 );
    }
}

@media (max-width:729px) {
    .nav{
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
        border-radius: 0;
    }

    .nav .links h1{
        transform: rotate(0 );
    }
}
